body{
    background-color: black;
}

.registrate{
    color: red;
    font-size: initial;
    line-height: 0;
}

#login{
    text-align: center;
    line-height: 0;
}

#abfrage{
    visibility: hidden;
}

#titel{
    width: 100%
}
